.user__modal {
  display: flex;
  flex-direction: row;
  text-align: center;
  background-color: white;
  height: 150px;
  width: 200px;

  border: 1px solid;
  border-radius: 5px;
}
.user__registration {
  display: flex;
  flex-direction: column;
  justify-self: start;
  font-size: 17px;
}
.user__sign {
  font-size: 17px;
}
